swagger: "2.0"
info:
  description: "This is a Orchestrator service which offers REST APIs to subscribe/un-subscribe to redis channels"
  version: "1.0.0"
  title: "Orchestrator"
  termsOfService: "http://swagger.io/terms/"
  contact:
    email: "raghav831@gmail.com"
  license:
    name: "Apache 2.0"
    url: "http://www.apache.org/licenses/LICENSE-2.0.html"
host: "orchestrator.quantinsti.com"
basePath: "/api/v1"
tags:
  - name: "channel"
    description: "Everything about your Channels"
    externalDocs:
      description: "Find out more"
      url: "http://swagger.io"
schemes:
  - "https"
  - "http"
paths:
  /start-listening:
    post:
      tags:
        - "channel"
      summary: "subscribe to a new channel"
      description: "subsribes to a redis channel"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - in: "body"
          name: "body"
          description: "Channel object to be added"
          required: true
          schema:
            type: "object"
            properties:
              channel:
                type: "string"
      responses:
        400:
          description: "Invalid input"
        409:
          description: "Conflict"
        422:
          description: "Can't process request"
  /stop-listening/:channel:
    delete:
      tags:
        - "channel"
      summary: "Unsubscribe to a channel"
      description: "Unsubscribes to the redis channel"
      produces:
        - "application/json"
      parameters:
        - name: "channel"
          in: "path"
          description: "Channel that needs to be unsubsribed"
          required: true
          type: "string"
      responses:
        200:
          description: "successful operation"
          schema:
            type: "object"
            properties:
              success:
                type: "boolean"
        400:
          description: "Bad request"
        404:
          description: "Channel not found"
